/* styles.css */
html, body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #333;

    overflow: auto;
    overflow-x: hidden;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff00;
    border-bottom: 1px solid #ccc;
}

.logo-bold {
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 40px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #949494;
}

footer {
    text-align: center;
    background-color: #fff;
    color: #333;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 60px;
}

/* WebKit 브라우저에서의 스크롤바 설정 */
/* 스크롤바의 너비 설정 */
::-webkit-scrollbar {
    width: 3px;
}

/* 스크롤바 핸들을 투명하게 설정하여 기본적으로 보이지 않게 함 */
/* 스크롤바 핸들의 모서리를 둥글게 처리 */
::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 6px;
}

/* 마우스 오버 시 스크롤바 색상 변경 */
body:hover::-webkit-scrollbar-thumb {
    background-color: #888;
}

/* 스크롤바 트랙을 투명하게 설정 */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* --------------------------------------------------------------------------------------------- */

.content {
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) var(--animation-delay);
    padding: 50px;
    margin: 40px;
    background-color: #ffffff00;
    border: 1px solid #cccccc00;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.container {
    /* opacity: 0; */
    /* transform: translateY(100px); */
    width: 100%;
    padding: 50px;
    margin: 40px;
    background-color: #ffffff00;
    border: 1px solid #cccccc00;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.content.visible {
    opacity: 1;
    transform: translateY(0);
}

.main-content {
    
}

.social-links a {
    margin-right: 10px;
    text-decoration: none;
    color: #3498db;
}

.keyword {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
}

.desc > p {
    color: #fff;
    font-weight: normal;
    font-size: 20px;
    margin-right: 20px;
}